<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>


  <main>
    <section class="section-detalle-busqueda flex-box-c">
      <h2>Todas la Peliculas con las palabras: "<%= criterio %>"</h2>


      <section class="section-playlist">

        <ol class="flex-box-c">
          <% for( let i = 0; i < listaPeliculas.length; i++ ) { %>
            <li class="li">
              <a href="/movies/id/<%= listaPeliculas[i].id %>"><%= listaPeliculas[i].title %> </a> 
              
              <div class="result-img">
                  <img src="/images/movies/logo-netflix.png" alt="">
              </div>
            
            </li>
          <% } %>
          
        </ol>

      </section>


    </section>
  </main>

</body>
</html>